.wraaper{
    width: 100%;
    height: 920vh;  
    top: 0;
    left: 0;
    background-color: #fff;
    position: absolute;
}
.image-top{
    width: 100%;
    height: 5vh;
    top: 0;
    left: 0;
    position: relative;
    background-image: url(ODS1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffff;
}
.title-top{
    width: 100%;
    height: 25vh;
    top: 0;
    left: 0;
    position: relative;
    background-color: #F26A2E;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}
#number{
    font-size: 9em;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
    margin-top: 1px;
}
#number-position{
    width: 20vw;
    height: 20vh;
    right: 160vh;
    bottom: 4vw;
    position: absolute;
}
#title{
    font-size: 3em;
    color: #ffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    display: block;
    width: 40vw;
    height: 20vh;
    left: 30vh;
    top: 1vw;
    position: absolute;
}
#logo-position{
    position: absolute;
    width: 15vw;
    height: 15vh;
    top: 0;
    right: 0;
}
#logo-image{
    width: 15vw;
    height: 20vh;
}
.corpo{
    width: 100%;
    height: 455vh;
    position: absolute;

}
.img-guindaste{
    width:300px ;
    height:105px;
    top: 70px;
    left:500px;
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(guindaste.png);
}
#title-introducion{
    font-size: 3em;
    left: 600px;
    top: 120px;
    position: absolute;
}
#introducion{
    width: 90vw;
    height: 20vh;
    left: 10vh;
    top: 35vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
.img1{
    width: 50px;
    height: 50px;
    top: 0%;
    left: 0%;
    position: absolute;
}
.img2{
    width: 50px;
    height: 50px;
    top: 0%;
    right: 200px;
    position: absolute;
}
#title-objetives{
    font-size: 3em;
    left: 500px;
    top: 1100px;
    display: flex;
    position: absolute;
    font-family: 'Inter';
}
#objetives{
    width: 57vw;
    height: 20vh;
    left: 10vh;
    top: 160vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
.position-image{
    right: 120px;
    top: 160vh;
    position: absolute;
}
.image-bus{
    width: 25vw;
    right: 25vh;
}
#objetives2{
    width: 90vw;
    height: 100vh;
    left: 10vh;
    top: 190vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
.img-center{
    width:300px ;
    height: 105px;
    top: 3600px;
    left:200px;
    position:relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(demolidora.png);
}
.circle{
    position: absolute;
    width: 200px;
    height: 342px;
    right: 0;
    top: 900px;
    background-color: #F26A2E;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-left: 3px solid #000;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}
#Brasil{
    font-size: 3em;
    left: 200px;
    top: 3800px;
    display: flex;
    position: absolute;
    font-family: 'Inter';
}
#Brasil-text{
    width: 90vw;
    height: 20vh;
    left: 10vh;
    top: 510vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
#world{
    font-size: 3em;
    left: 200px;
    top: 4350px;
    display: flex;
    position: absolute;
    font-family: 'Inter';
}
#world2{
    font-size: 3em;
    left: 500px;
    top: 5000px;
    display: flex;
    position: absolute;
    font-family: 'Inter';
}
#world-text{
    width: 90vw;
    height: 20vh;
    left: 10vh;
    top: 580vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
#world-text2{
    width: 90vw;
    height: 20vh;
    left: 10vh;
    top: 660vh;
    position: absolute;
    font-size: 1.5em;
    text-align: justify;
}
.circle2{
    position: absolute;
    width: 200px;
    height: 342px;
    left: 0;
    top: 6000px;
    background-color: #F26A2E;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    border-top: 3px solid #000;
}
.square{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 400px;
    top: 5700px;
    background-image: url(Antes.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.square2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 700px;
    top: 6000px;
    background-image: url(Depois.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.footer{
    width: 100%;
    height: 15vh;
    bottom: 0;
    left: 0;
    position: absolute;
    background-color: #F26A2E;
    border-top:3px solid #000 ;
}
.footer-square{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 300px;
    bottom: 68px;
    background-color: #F26A2E;
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    transform: rotate(45deg);
}
.link{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 950px;
    bottom: 10px;
    font-size: medium;
}
.creators-position{
    position: absolute;
    width: 550px;
    height: 50px;
    left: 500px;
    bottom: 30px;
}
.image-position{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 30px;
    bottom: 10px;
}
.image-position1{
    position: absolute;
    width: 100px;
    height: 50px;
    left: 150px;
    bottom: 30px;
}
